.block{
    background-color: darkcyan;
    grid-area: head;
    display: flex;
    justify-content: space-around;
}

.logo_nav{
    width: 8vh;
}

.logo{
    margin-right: auto;
}

.text{
    width: 60%;
    display: flex;
    justify-content: space-between;
    color: deepskyblue;
}

.text h1{
    margin-right: 30%;
}

.text h2{
    align-self: center;
    margin-right: 5%;
    font-weight: 400;
    font-size: 1.3em;
}

.text h1, h2{
    margin: 0;
}

.btn{
    align-self: center;
    margin-right: 3%;
}

.btn button{
    border-radius: 2rem;
    font-size: 0.8em;
    background-color: rgb(82, 177, 82);
}